<FlexboxLayout flexDirection="column">
    <!-- <StackLayout class="actionBr" backgroundColor="#007bff" color='white' height="40">
        <FlexboxLayout flexDirection="row" justifyContent='space-between'>
            <Label class="float-btn-text" text="Ipsos Strategic Marketing" style="margin: 5;"></Label>
            <StackLayout class="float-btn actionBr" style="margin: 5;" [nsRouterLink]="['/options']"
                pageTransition="slide">
                <Label class="float-btn-text fas" text="&#xf085;"></Label>
            </StackLayout>
        </FlexboxLayout>
    </StackLayout> -->
    <app-navigation-menu></app-navigation-menu>

    <FlexboxLayout class='kartica' [nsRouterLink]="['/lng']" pageTransition="slide" justifyContent='center'
        flexDirection="column" alignSelf="center" style="width: 90%;">
        <Label class="fas" text="&#xf0ac;" style="font-size: 30;"></Label>
        <Label text="{{ 'prom_zemlja' | L: 'prom_zemlja' }}" style="font-size: 20;"></Label>
    </FlexboxLayout>

    <FlexboxLayout class='kartica' justifyContent='center' flexDirection="column" alignSelf="center"
        style="width: 90%;">
        <Label class="fas" text="&#xf0e0;" style="font-size: 30;"></Label>
        <Label text="{{ 'podrska' | L: 'podrska' }}" style="font-size: 20;"></Label>
        <Label text="istrazivanje@ipsos.rs" style="font-size: 20;"></Label>
    </FlexboxLayout>

    <FlexboxLayout class='kartica color_red' (tap)="logOut()" justifyContent='center' flexDirection="column"
        alignSelf="center" style="width: 90%;">
        <Label class="fas" text="&#xf2f5;" style="font-size: 30;"></Label>
        <Label text="{{ 'logout' | L: 'logout' }}" style="font-size: 20;"></Label>
    </FlexboxLayout>

</FlexboxLayout>