<Page loaded="onPageLoaded">
  <ActionBar title="Ipsos Strategic Marketing" class="action-bar">
    <StackLayout orientation="horizontal" height="20" ios:horizontalAlignment="center"
      android:horizontalAlignment="left">
      <Image src="~/assets/ipsos_logo.png" height="100%" class="action-image"></Image>
      <Label text="Ipsos Strategic Marketing" class="action-label"></Label>
    </StackLayout>
  </ActionBar>

  <FlexboxLayout flexDirection="column">
    <StackLayout>

      <TabView width="100%">
        <StackLayout *tabItem="{title: 'Survey'}">
          <app-landing></app-landing>
        </StackLayout>

        <StackLayout *tabItem="{title: 'Statistics'}">
          <app-stats></app-stats>
        </StackLayout>

        <StackLayout *tabItem="{title: 'survey Options'}">
          <app-options></app-options>
        </StackLayout>

      </TabView>
    </StackLayout>
  </FlexboxLayout>
</Page>