<Page loaded="onPageLoaded">
  <ActionBar title="Ipsos Strategic Marketing" class="action-bar">
    <StackLayout orientation="horizontal" height="20" ios:horizontalAlignment="center"
      android:horizontalAlignment="left">
      <Image src="~/assets/ipsos_logo.png" height="100%" class="action-image"></Image>
      <Label text="Ipsos Strategic Marketing" class="action-label"></Label>
    </StackLayout>
  </ActionBar>
  <StackLayout>
    <TabView width="100%">

      <StackLayout *tabItem="{title: 'Home'}">
        <app-landing></app-landing>
      </StackLayout>

      <StackLayout *tabItem="{title: 'Statistics'}">
        <app-stats></app-stats>
      </StackLayout>

    </TabView>

    <Label text="Item Details"></Label>
    <Button text="goBack()" tap="onTap"></Button>
  </StackLayout>
</Page>