<ActionBar title="Ipsos Strategic Marketing" class="action-bar">
    <StackLayout orientation="horizontal" height="20" ios:horizontalAlignment="center"
        android:horizontalAlignment="left">
        <Image src="~/assets/ipsos_logo.png" height="100%" class="action-image"></Image>
        <Label text="Ipsos Strategic Marketing" class="action-label"></Label>
    </StackLayout>
    <!-- <NavigationButton text="Go Back" android.systemIcon="ic_menu_back"></NavigationButton> -->

</ActionBar>

<!-- <WebView #myDiv row="1" height="100%" width="100%" [src]="webViewSrc"></WebView> -->
<nota:WebViewExt [src]="webViewSrc"></nota:WebViewExt>