<FlexboxLayout flexDirection="column" justifyContent="space-between">
    <StackLayout>
        <app-navigation-menu></app-navigation-menu>
        <Label text="{{ 'prom_zemlja' | L: 'prom_zemlja' }}"
            style="font-size: 20; margin: 10 0 30 10; font-weight: bold;"></Label>
        <Button class="fas btn-rounded-lg btn-primary m-5" *ngFor='let item of btns'
            text='{{item.txt}} {{activeLng == item.val ? "&#xf00c;" : ""}}'
            [ngClass]="{'bg_green': activeLng == item.val, 'bg_blue': activeLng != item.val}"
            (tap)='chooseLng(item.val)'></Button>
    </StackLayout>
    <StackLayout>
        <Button class="fas btn-rounded-lg btn-primary dark_blue" (tap)="saveAndGo()"
            text="{{ 'sacuvaj' | L: 'sacuvaj' }}    &#xf061;" style="margin-bottom: 20;"></Button>
    </StackLayout>
</FlexboxLayout>