<ActionBar title="Ipsos Strategic Marketing" class="action-bar">
    <StackLayout orientation="horizontal" height="20" ios:horizontalAlignment="center"
        android:horizontalAlignment="left">
        <Image src="~/assets/ipsos_logo.png" height="100%" class="action-image"></Image>
        <Label text="Ipsos Strategic Marketing" class="action-label"></Label>
    </StackLayout>
</ActionBar>


<FlexboxLayout flexDirection="column" height="100%" justifyContent="space-around">
    <StackLayout>
        <!-- <Label text="{{ 'hello' | L: 'hello' }}"></Label> -->
    </StackLayout>
    <StackLayout orientation="vertical" [formGroup]="loginForm" width="100%" height="95%">
        <Image class="logo" width="100%" height="50%" src="~/assets/ipsos_logo.png"></Image>
        <TextField formControlName="email" class='fieldLine' keyboardType="email" width="80%" hint="E-Mail...">
        </TextField>
        <!-- <TextField formControlName="password" secure="true" width="80%" hint="Password..."></TextField> -->
        <Button *ngIf="!progressLogin" type="submit" name="submit" width="80%" text="{{ 'login' | L: 'login' }}"
            (tap)="login()" style="margin-top: 30;"></Button>
        <app-loader *ngIf="progressLogin"></app-loader>
    </StackLayout>
    <StackLayout class="bottom_text" height="5%">
        <Label class="footer" text="Ipsos 2019"></Label>
    </StackLayout>
</FlexboxLayout>