/* Add mobile styles for the component here.  */
.btn_shadow {
  border-width: 0;
  border-color: white;
  font-weight: bold;
}

#skrol {
  background-image: url("~/assets/slika1.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
