<FlexboxLayout flexDirection="column">

    <app-navigation-menu id="navigacija" [ipHeight]="80"></app-navigation-menu>

    <ScrollView id="skrol" orientation="vertical">
        <StackLayout height="40">
        </StackLayout>
        <StackLayout style="margin-top: 50">
            <Button *ngFor="let item of days" (tap)='goToSurvey(item)' class="btn btn_shadow"
                [ngStyle]="stylingButtons(item)" text='DAN {{item.day + 1}}'>
            </Button>
        </StackLayout>

    </ScrollView>

</FlexboxLayout>