<FlexboxLayout flexDirection="column" justifyContent="space-around">

    <FlexboxLayout justifyContent="space-around" (tap)="radiAnketu('multiPerDay')" height="100"
        style="margin-top: 20; margin-bottom: 20;">
        <FlexboxLayout justifyContent="center" flexDirection="column">
            <Label text="OVo je neki teskt"></Label>
        </FlexboxLayout>
        <Image width="100" [src]="afterImage"></Image>
    </FlexboxLayout>

    <StackLayout height="2" backgroundColor="#dbdbde">
    </StackLayout>

    <FlexboxLayout justifyContent="space-around" (tap)="radiAnketu('onePerDay')" height="100"
        style="margin-top: 20; margin-bottom: 20;">
        <FlexboxLayout justifyContent="center" flexDirection="column">
            <Label text="OVo je neki teskt"></Label>
        </FlexboxLayout>
        <Image width="100" [src]="dailyImage"></Image>
    </FlexboxLayout>

    <StackLayout height="2" backgroundColor="#dbdbde">
    </StackLayout>

    <FlexboxLayout justifyContent="space-around" height="100" style="margin-top: 20; margin-bottom: 20;">
        <FlexboxLayout justifyContent="center" flexDirection="column">
            <Label text="OVo je neki teskt"></Label>
        </FlexboxLayout>
        <Image width="100" src="~/assets/quiz.png"></Image>
    </FlexboxLayout>
    <!-- <Button class="btn btn-primary" [nsRouterLink]="['/lng']" text="LNG"></Button>
    <Button class="btn btn-primary" [nsRouterLink]="['/login']" text="LOGIN"></Button> -->
</FlexboxLayout>