<StackLayout style="height: 100%;">
    <FlexboxLayout flexDirection="column" class="groupStyle_background" justifyContent="space-between"
        id="dnevniIzvestaj" style="height: 100%;">

        <Label text="{{ 'MOJ DNEVNIK POPIJENIH KAFA' | L: 'dnevnik_kafa' }}" (tap)="radiAnketu('multiPerDay')"
            class="tekst_u_slici font_home"></Label>

        <Label text="{{ 'IZVEŠTAJ DANA' | L: 'izvestaj_dana' }}" [nsRouterLink]="['/dialy_survey']"
            class="tekst_u_slici font_home"></Label>

        <FlexboxLayout flexDirection="column" class="kviz_back" justifyContent="center" alignItems='center'
            style="height: 200">
            <Label style="color: white; text-align: center; font-weight: bold; font-size: 30"
                text="{{kviz_info.poz}}. {{ 'pozicija' | L: 'pozicija' }}"></Label>
            <Label style="color: white; text-align: center; font-weight: bold; font-size: 30"
                text="{{kviz_info.br_poena}} {{ 'bodova' | L: 'bodova' }}"></Label>
            <Label text="{{ 'Zaigraj KVIZ' | L: 'igraj_kviz' }}" (tap)="radiAnketu('quiz')"
                class="tekst_u_slici"></Label>
        </FlexboxLayout>
    </FlexboxLayout>
</StackLayout>